@charset "utf-8";
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;/*--在IOS当你触摸目标时候，禁止后系统的默认菜单--*/
    -webkit-overflow-scrolling:touch;/*--网页都有快速滚动和回弹的效果，看上去和原生的app效率都一样--*/
    -webkit-text-size-adjust: 100%;/*--禁止webkit内核调整字体大小--*/
    -webkit-user-select: none;
}
*{margin:0px; padding:0px;  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif; font-size:.32rem;}
body{width:7.5rem;}
.audioBox{width:1.2rem; height:1.2rem; background:url("../image/music.svg") no-repeat; position:relative;}
.move {
    -webkit-animation: musicMove 1s linear infinite;
    animation: musicMove 1s linear infinite;
    /*当帧动画结束的时候,让当前的元素停留在最后一帧的位置*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
