@charset "utf-8";
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;/*--在IOS当你触摸目标时候，禁止后系统的默认菜单--*/
    -webkit-overflow-scrolling:touch;/*--网页都有快速滚动和回弹的效果，看上去和原生的app效率都一样--*/
    -webkit-text-size-adjust: 100%;/*--禁止webkit内核调整字体大小--*/
    -webkit-user-select: none;
}
*{margin:0px; padding:0px;  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif; font-size:.32rem;}
.item1{height:100px; background: #f00; width: 300px; box-sizing: content-box;  padding:100px; display: flex; }
.item2{background:#000; height:100px;  width: 300px; }
.item3{background:#0050D0; height:150px; width: 300px; }
/*.box{ color:#fff; margin-bottom:50px; display:-webkit-flex; flex-direction:column-reverse; justify-content: flex-start; }*/
/*.box:nth-of-type(2){ height:1000px; background:#f0f0f0;}*/